body{
    background: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}
a{
    color: red;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    background-color: red;
    color: white;
    padding: 1em 1.5em;
}

a:hover {
    background-color: #555;
    cursor: pointer;
  }

  a:active {
    background-color: black;
  }

  a:visited {
    background-color: #ccc;
  }
  